/* Estilos para ocultar completamente la barra de scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

/* Asegurarse de que el contenido sea scrollable pero sin mostrar la barra */
.no-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
}

/* Estilos para mejorar la experiencia táctil en dispositivos móviles */
@media (pointer: coarse) {
  .no-scrollbar {
    -webkit-overflow-scrolling: touch;
  }
}
